<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>Scraping With Mongoose</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/app.js"></script>
  </head>
  <body>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>